<%= simple_form_for(store, html: { class: "ui form"}) do |f| %>
  <%= f.error_notification %>

    <% if store.errors.any? %>
    <div id="error_explanation" class="ui message">
     <i class="close icon"></i>
      <h2><%= pluralize(store.errors.count, "erros") %> prohibited this store from being saved:</h2>

      <ul class="header">
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <div class="ui blue label">
          Name
        </div>

      <%= f.text_field :name %>
    </div>

  <div class="field">
    <div class="ui blue label">
        CNPJ
    </div>
      <%= f.text_field :cnpj %>
  </div>


  <div class="field">
      <%= f.submit "Send" , class: "ui primary button" %>
  </div>

<p></p>

<% end %>


<script type="text/javascript">

  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>