
<p id="notice"><%= notice %></p>

<div class="ui main text container">

<p id="notice"><%= notice %></p>

<h3>Store</h3>

<table  id="mod" class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration</th>
      <th>store</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= vendor.registration %></td>
        <td><%= vendor.store.name %></td>

        <td>
      <%= link_to vendor do%>
          <i class="unhide icon"></i>
            <% end %>
        </td>

        <td><%= link_to edit_vendor_path(vendor) do%>
          <i class="write square icon"></i>
          
          <% end %>
        </td>

        <td><%= link_to vendor, method: :delete, data: { confirm: 'Are you sure?' } do%>
          <i class="ban icon"></i>
          
        <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="ui divider"></div>

<%= link_to new_vendor_path, class: 'ui primary basic button' do %>
  <i class="small add icon"></i> 
  New Vendor
<% end %>

</div>