
  <%= simple_form_for(goal, html: { class: "ui form"} ) do |f| %>
  <% if goal.errors.any? %>
    <div id="error_explanation" class="ui message">
         <i class="close icon"></i>

      <h2><%= pluralize(goal.errors.count, "erros") %> prohibited this goal from being saved:</h2>

      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field ">
    <div class="ui blue label">
      Start Date
    </div>
    <%= f.text_field :start_date,class: "datepicker" ,id: "start_date"%>
  </div>


  <div class="field" onchange="duplicate()">
    <div class="ui blue label">
      End Date
    </div>
    <%= f.text_field :end_date,class: "datepicker" ,id:"end_date"%>
  </div>

  <div class="field ">
    <div class="ui blue label">
      Month
    </div>
    <%= f.number_field :month %>
  </div>

  <div class="field ">
    <div class="ui blue label">
      Total
    </div>
    <%= f.number_field :sum_value %>
  </div>

  <h2 class="ui right floated header">Days</h2>

  <div class="ui divider" id ="days_fields"></div>

  <div id="duplicater0">
  
    <%= f.simple_fields_for :days do |day| %>
      <%= render 'days_fields', p: day %>
    <% end %>

</div>

  <div class="field">
  
        <%= f.submit "Send" , class: "ui primary button"%>
  </div>

  <% end %>

<script type="text/javascript">

  var i =0;
  function duplicate() {
        var start_date = document.getElementById("start_date").value;
    var end_date = document.getElementById("end_date").value;

    var date_start_conv = new Date(start_date);

    var date_end_conv  = new Date(end_date);
    
    var timeDiff = Math.abs(date_end_conv.getTime() - date_start_conv.getTime());
    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24))+1;


    var original = document.getElementById('duplicater' + i);
    var clone = original.cloneNode(true); // "deep" clone
    clone.id = "duplicater" + ++i; // there can only be one element with an ID

    for (var j = 0;j <=diffDays; j++) {
      original.parentNode.appendChild(clone);
    }

  }
</script>