
  <%= simple_form_for(goal, html: { class: "ui form"} ) do |f| %>
  <% if goal.errors.any? %>
    <div id="error_explanation" class="ui message">
         <i class="close icon"></i>

      <h2><%= pluralize(goal.errors.count, "erros") %> prohibited this goal from being saved:</h2>

      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field ">
    <div class="ui blue label">
      Start Date
    </div>
    <%= f.text_field :start_date,class: "datepicker" %>
  </div>


  <div class="field ">
    <div class="ui blue label">
      End Date
    </div>
    <%= f.text_field :end_date,class: "datepicker" %>
  </div>

  <div class="field ">
    <div class="ui blue label">
      Month
    </div>
    <%= f.number_field :month %>
  </div>

  <div class="field ">
    <div class="ui blue label">
      Total
    </div>
    <%= f.number_field :sum_value %>
  </div>

<div class="field">
  
        <%= f.submit "Send" , class: "ui primary button"%>
</div>

<% end %>
