

<p id="notice"><%= notice %></p>

<div class="ui card">

<div class="grey card ui link card">
  <div class="content">

  <div class="header"><%= @goal.start_date %> / <%= @goal.end_date %></div>
  <div class="ui divider"></div>

    <div class="description">
      <div class="meta"><span class="category">Vendors:</span> </div>
        <% @goal.vendors.each do |v| %>
        <p> <%= v.name  %></p>

       <% end %>

  </div>
  </div>
</div>
</div>

<div class="ui divider"></div>
<div class="ui buttons">

<%= link_to 'Edit', edit_goal_path(@goal) ,:class =>"ui button"%> 
<div class="or"></div>

<%= link_to 'Back', goals_path ,:class =>"ui positive button"%>

</div>