<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @goal.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @goal.end_date %>
</p>

<p>
  <strong>Month:</strong>
  <%= @goal.month %>
</p>

<p>
  <strong>Sum value:</strong>
  <%= @goal.sum_value %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
